.doctorfeetable-body-row-container {
    border-width: 0px;
    border-bottom-width: 4px;
    border-color:gainsboro;
  }
  
  .doctorfeetable-head-container {
    border-width: 0px;
    border-bottom-width: 4px;
    border-color:  gainsboro;
  }