.patientTreat-page-textarea{

width: 65%;
}

.patienttreatpage-submit-button{
    border: none;
    color: white;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px gray;
}

.patientTreat-page-para{
    width: 70%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px gray;
}

